<script src="/js/library.js"></script>

<!-- Reference for structure of incoming handlebars data:
unreadNotifs: true/false,
notifs: [
    {
        NotificationKey,
        UserID,
        Msg,
        ReadMsg,
        CreateDate,
        MatchID
    },
    ...
]
-->
<!-- TODO: We might need some boolean to come in letting us know if there are any
unread notifications so that we can flip the 'unread' class on this main div. -->

<div id="notifications" class="notifications {{#if unreadNotifs}}unread{{/if}}">
    <div class="notifications-icon">
        <i class="far fa-bell notifications-icon-bell"></i>
        <span class="badge">&nbsp;</span>
    </div>
    <div class="notifications-menu">
        <div class="notifications-header">
            {{#if notifs}}
            <button type="button" class="clear-all" onclick="clearAllNotifications()">
                <i class="fas fa-trash-alt"></i>Clear All
            </button>
            <button type="button" class="mark-read" onclick="markReadAllNotifications()">
                <i class="fas fa-envelope-open-text"></i>Mark All As Read
            </button>
            {{/if}}
        </div>
        <div class="notifications-body">
            {{#each notifs}}
            <div id="notif-id-{{NotificationKey}}" class="notif {{#if (eq ReadMsg 1)}}read{{/if}}" onclick="window.location.href='/matches'">
                <div class="notif-photo-container">
                    <img class="notif-photo" src="/img/profile-img.jpg" />
                </div>
                <div class="notif-body">
                    <!-- TODO: We also might need a notification "type" so we know what message to relay, and we probably can't use the 'msg' property and get the user's name in the notif either. -->
                    <!--<div class="notif-text">New match request from <strong>{INSERT USER LOL}</strong>! Click to view your matches now.</div>-->
                    <div class="notif-text">{{{Msg}}}</div>
                    <div class="notif-date">Sent {{moment CreateDate fromNow="true"}} ago.</div>
                </div>
                <div class="notif-controls">
                    {{#if (eq ReadMsg 1)}}
                    <!-- TODO: this is a super ghetto way to handle this. you'll probably want an event listener
                    but you will still need to stop propagation so clicking this doesn't send the user to the matches page. -->
                    <button onclick="event.stopPropagation(); markUnread({{NotificationKey}})" class="button" type="button" data-click-open="false" data-tooltip tabindex="1" title="Mark as unread." data-position="bottom" data-alignment="center">
                        <i class="fas fa-circle"></i>
                    </button>
                    {{else}}
                    <button onclick="event.stopPropagation(); markRead({{NotificationKey}})" class="button" type="button" data-click-open="false" data-tooltip tabindex="1" title="Mark as read." data-position="bottom" data-alignment="center">
                        <i class="fas fa-dot-circle"></i>
                    </button>
                    {{/if}}
                </div>
            </div>
            {{else}}
            <span>Nothing to see here</span>
            {{/each}}
        </div>

    </div>
</div>
