{{>nav}}
<link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<style>
    .delete-selection {
        cursor: pointer;
        float: right;
        color: red;
        font-weight: bold;
    }

    .instrument-selection-item{
        padding: 10px;
        margin-bottom: 10px;
        background-color: lightyellow;
    }
</style>


<script type="text/javascript">

    // Global states for the converted SoundCloud link.
    let soundCloudLinkWasConverted = false;
    let convertedSoundCloudLink = '';
    let youTubeLinkWasConverted = false;
    let convertedYouTubeLink = '';

    //copped this from our friend stack overflow:https://stackoverflow.com/questions/28735459/how-to-validate-youtube-url-in-client-side-in-text-box
    //when passed a url will return true if valid youtube link:
    function validateYouTubeUrl(url) {
        // If we already validated & converted this URL and it didn't change, we're good.
        if (youTubeLinkWasConverted && convertedYouTubeLink === url) {
            return true;
        }

        if (url != undefined || url != '' || !youTubeLinkWasConverted) {
            var regExp = /http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?/;
            var match = url.match(regExp);
            console.log(match[1]);
            if (match && match[1].length == 11) {
                console.log("This is a youtube link");
                document.getElementById('worksample-soundcloud-converted').hidden = false;
                document.getElementById('worksample-entered').value = 'https://www.youtube.com/embed/' + match[1] + '?autoplay=0';
                document.getElementById('sampletype').value = "Video";

                // Flag that this URL's value and that it was converted.
                youTubeLinkWasConverted = true;
                convertedYouTubeLink = 'https://www.youtube.com/embed/' + match[1] + '?autoplay=0';

                return true;
            }
            else {
                document.getElementById('worksample-soundcloud-converted').hidden = true;
                return false;
            }

        } else return false;
    }


    //followed the youtube fn, but this time for soundcloud. Copped regex from here:https://stackoverflow.com/questions/61486337/regex-for-soundcloud-url
    function validateSoundCloudUrl(url) {

        // If we already validated & converted this URL and it didn't change, we're good.
        if (soundCloudLinkWasConverted && convertedSoundCloudLink === url) {
            return true;
        }

        // Otherwise, if there's something there and it wasn't previously converted, check if it's a SoundCloud link.
        if (url != undefined || url != '' || !soundCloudLinkWasConverted) {
            var regExp = /^(https?:\/\/)?(www\.)?(soundcloud\.com|snd\.sc)\/.*$/;
            var match = url.match(regExp);
            if (match) {
                // If this a valid SoundCloud track link, then show user we're converting the link.
                document.getElementById('worksample-soundcloud-converting').hidden = false;
                document.getElementById('worksample-soundcloud-converted').hidden = true;
                document.getElementById('worksample-soundcloud-invalid').hidden = true;

                // Since it's from SoundCloud, grab the track ID and format it for embedding, using CORS escape hatch.
                let req = new XMLHttpRequest();
                req.open('GET', `https://cors-anywhere.herokuapp.com/${url}`, true);
                req.addEventListener('load', () => {
                    let res = req.responseText;
                    if (req.status < 400) {

                        // If we got something back, look for the track ID and construct an embedded link from it.
                        let number = res.match(/soundcloud:\/\/sounds:(\d{9})/);

                        // Hide the loading check.
                        document.getElementById('worksample-soundcloud-converting').hidden = true;

                        // If a valid ID was found, let the user know and convert the URL for display.
                        if (number && 1 in number) {
                            let iframe = `https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/${number[1]}`;

                            // Show the user we've finished our conversion and insert it into the worksample input.
                            document.getElementById('worksample-soundcloud-converted').hidden = false;
                            document.getElementById('worksample-entered').value = iframe;
                            document.getElementById('sampletype').value = "Music";

                            // Flag that this URL's value and that it was converted.
                            soundCloudLinkWasConverted = true;
                            convertedSoundCloudLink = iframe;
                            return true;
                        }

                        document.getElementById('worksample-soundcloud-invalid').hidden = false;
                        return false;

                    } else {
                        return false;
                    }
                });
                req.send(null);
            }
            else return false;

        } else return false;
    }

    //when passed an instrument id + name, will add a new section under the instrument select so the user can select level or delete.
    //will show user an error if they try to add the same instrument twice
    function addSelection(id, inst) {
        var selectionDiv = $("#instrument-selection"); //grab section below instrument select 

        //check to see if the user has already selected this instrument
        if (selectionDiv.find("#" + id).length > 0) {
            //oops they already selected this. show error
            $("#error-msg").html("Hey! You already selected this instrument."); //maybe remove if too annoying?
            $('#error-modal').foundation('open');

        }
        else {
            //ready to add!
            selectionDiv.append("<div class='instrument-selection-item' id='" + id + "'></div>"); //add a new 'box' for this selected instrument

            var thisSelection = selectionDiv.find("#" + id);

            thisSelection.append("<div class='delete-selection'>X</div>"); //add the icon to delete this section
            var levelSelect = $("#level-list-main").clone(); //copy the existing level selector so this instrument can have its own
            levelSelect.attr("id", "#level-" + id); //set the id for the level select + unhide it
            levelSelect.css("display", "block");

            thisSelection.append("<div class='instrument-selection-text'>" + inst + "</div>");
            thisSelection.append(levelSelect);

            $("#smartwizard").find(".tab-content").css("height", "auto"); //resize wizard container. Weird hack bc the autoAdjustHeight option isn't working for the smartWizard
        }

    }


    $(document).ready(function () {

        //set up the instrument to use select2 for easy searching+selecting. This seemed closest to the datalist we were using
        $('#instrument-list').select2({
            placeholder: "Select an instrument"
        }).on('select2:select', function (e) {
            //whenever we select a new instrument, add it to the section below to select level
            var selectedOption = $("#instrument-list").select2('data')[0];
            addSelection(selectedOption.id, (selectedOption.text));
        });

        // SmartWizard initialize
        $('#smartwizard').smartWizard({
            justified: true, // Nav menu justification. true/false
            autoAdjustHeight: true, // Automatically adjust content height, [THIS DOESNT WORK LOL]
            showNextButton: false, // show/hide a Next button
            showPreviousButton: false, // show/hide a Previous button
        });

        //click event to remove selected instruments.
        $("body").on("click", ".delete-selection", function () {
            $(this).parent().remove();
        });

        //on button click to move from 1st to 2nd section
        $("#step-1-finish").click(function (e) {
            e.preventDefault();

            //get all selected instruments
            var selectedInstruments = $(".instrument-selection-item");

            //make sure the user chose at least one
            if (selectedInstruments.length < 1) { 
                $("#error-msg").html("Please select at least one instrument");
                $('#error-modal').foundation('open');
            }
            else {

                //gather IDs + make sure levels are all selected
                var errorMsg = ""; //this will be non-blank if we find an error
                var selected = [];

                selectedInstruments.each(function () {
                    var instID = $(this).attr("id"); //get the instrument ID
                    var levelID = $(this).find("select.selection-level").val(); //get the levelID

                    if (levelID < 1) { //this instrument doesnt have a level selected
                        errorMsg = "Please select an experience level for each instrument";
                        return false;
                    }
                    else selected.push([instID, levelID]); //add the ids to our data array
                });

                if (errorMsg != "") { //if we found an error, show it
                    
                    $("#error-msg").html(errorMsg);
                    $('#error-modal').foundation('open');
                }
                else {
                    //transfer over selected ids to hidden inputs in create form
                    $("#instrument-selections").html("");
                    $.each(selected, function (i, vals) {
                        $("#instrument-selections").append("<input type='text' name='InstrumentID-" + i + "' value='" + vals[0] + "'>");
                        $("#instrument-selections").append("<input type='text' name='LevelID-" + i + "' value='" + vals[1] + "'>");
                    });

                    $('#smartwizard').smartWizard("stepstate", [1,2], "enable");
                    $('#smartwizard').smartWizard("next"); //if all is good, go to next step

                }
            }
        });

        //move on to step 3
        $("#step-2-finish").click(function (e) {
            e.preventDefault();

            var url = $("#worksample-entered").val();

            if (url != "") //blank is ok!
            {
                if (!validateSoundCloudUrl(url) && !validateYouTubeUrl(url)) {
                    $("#error-msg").html("Please enter a valid SoundCloud or YouTube URL.");
                    $('#error-modal').foundation('open');
                    $('#sampletype').val("");
                }
                else {
                    //all good
                    $("#worksample").val(url);
                    $('#smartwizard').smartWizard("stepState", [2], "enable");
                    $('#smartwizard').smartWizard("goToStep", 2); //if all is good, go to next step
                }
            }
            else {
                $('#sampletype').val("");
                $("#worksample").val(""); //blank out url
                $('#smartwizard').smartWizard("stepState", [2], "enable");
                $('#smartwizard').smartWizard("goToStep", 2); //if all is good, go to next step
            }
        });


    });

</script>
<main>
    <div class="main-container">
        <div class="create-profile-header">
            <h1>Welcome to the club, {{user.FirstName}}!</h1>
            <p>You're on your way to connect with other awesome musicians like yourself!</p>
            <p>Let's find out a little bit more about you first.</p>
        </div>
        <div id="smartwizard" style="border: none;">
            <ul class="nav" style="margin-left: 0">
                <li>
                    <a class="nav-link" href="#step-1">
                        Step 1: Instruments
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-2">
                        Step 2: Samples
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#step-3">
                        Step 3: Basic Info
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel">
                    <h3>Step 1: Instruments</h3>
                    <table>
                        <tr>
                            <td>
                                <label for="instruments">
                                    What instrument(s) do you play?
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select id="instrument-list">
                                    <option></option>
                                    {{#each instruments}}
                                    <option value="{{this.InstrumentKey}}">{{this.Instrument}}</option>
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="instrument-selection">
                                    <select id="level-list-main" class="selection-level" style="display: none">
                                        {{#each levels}}
                                        <option value="{{this.LevelKey}}">{{this.Level}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="toolbar toolbar-bottom" role="toolbar" style="text-align: right;">
                        <button class="button success" type="button" id="step-1-finish">Next</button>
                    </div>
                </div>
                <div id="step-2" class="tab-pane" role="tabpanel">
                    <h3>Step 2: Add a Work Sample</h3>

                    <p>Enter a Soundcloud or Youtube URL to show off your talent. You can update your profile to add more samples later.</p>

                    <input id="worksample-entered" type="text" value="" placeholder="Soundcloud or Youtube url" onchange="validateSoundCloudUrl(this.value); validateYouTubeUrl(this.value)" />
                    <div id="worksample-soundcloud-converting" hidden><i class="fas fa-spinner fa-spin"></i>Converting SoundCloud link for embedding.</div>
                    <div id="worksample-soundcloud-converted" hidden><i class="far fa-check-circle"></i>Your work sample is ready to display!</div>
                    <div id="worksample-soundcloud-invalid" hidden><i class="fas fa-exclamation-triangle"></i>Not a valid SoundCloud track. Make sure the URL leads to a track.</div>
                    <div class="toolbar toolbar-bottom" role="toolbar" style="text-align: right;">
                        <button class="button success" type="button" id="step-2-finish">Next</button>
                    </div>
                </div>
                <div id="step-3" class="tab-pane" role="tabpanel">
                    <h3>Step 3: Basic Info</h3>
                    <form method="post" action="/profile/basic/create">
                        <table>
                            <tr>
                                <td>
                                    <label for="Bio">
                                        About Me
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea placeholder="Enter a bio for others to see when they view your profile" id="Bio" name="Bio"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="ArtistName">
                                        What is your band or artist name?
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="Band or artist name" type="text" id="ArtistName" name="ArtistName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="zipCode">
                                        What is your zip code?
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="Zip code" type="text" pattern="[0-9]{5}" id="zipCode" name="zipCode" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="phoneNumber">
                                        What is the best phone number to reach you at?
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="Phone number" type="number" id="phoneNumber" name="phoneNumber" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="webAddress">
                                        Do you have a website?
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input placeholder="Website URL" type="text" id="webAddress" name="webAddress">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Are you currently looking for a spot in a band?
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" id="yesLooking" name="lookingForWork" value="1" checked>
                                    <label for="yesLooking">Yes</label>
                                    <input type="radio" id="notLooking" name="lookingForWork" value="0">
                                    <label for="notLooking">No</label>
                                </td>
                            </tr>
                        </table>
                        <div id="instrument-selections" style="display:none"></div>
                        <div id="work-sample-input" style="display:none">
                            <input type="text" id="worksample" name="WorkSample" value="">
                            <input hidden type="text" id="sampletype" name="SampleType" value="">
                        </div>
                        <div class="create-profile">
                            <button class="button success large expanded" id="createProfileButton" type="submit">Create Your Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="error-modal" class="reveal" data-reveal>
            <h2 id="modalTitle">Error</h2>
            <p id="error-msg" class="lead"></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>
</main>

