{{>nav}}
<script type="text/javascript">
    function checkSelected() {
        let val = document.getElementById("instruments").value;
        let opts = document.getElementById('instrument-list').childNodes;
        for (let i = 0; i < opts.length; i++) {
            if (opts[i].value === val) {
                addSelection(val);
                break;
            }
        }
    }

    function addSelection(inst) {
        let selection = document.getElementById("instrument-selection");
        let item = document.createElement('div');
        item.className = 'instrument-selection-item';
        item.id = inst;
        item.innerHTML = `
            <input class="instrument-selection-text">${inst}</input>
            <div class="grid-x">
                <div class="cell medium-7">
                    <select class="selection-level" name="selection-level" id="selection-level-${inst.toLowerCase()}">
                        <option disabled selected value> -- Skill Level -- </option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Expert">Expert</option>
                        <option value="Master">Master</option>
                    </select>
                </div>
                <div class="cell medium-1"></div>
                <div class="cell medium-4">
                    <input placeholder="Quantity" type="number" class="instrument-selection-quantity" id="instrument-selection-quantity-${inst}" min="1" max="99" />
                </div>
            </div>
            <div class="delete-selection" onclick="remove(this)">X</div>
        `;

        selection.appendChild(item);
    }

    function remove(item) {
        item.parentNode.remove();
    }

</script>
<main>
    <div class="main-container main-current-ads">
        <div class="current-ads-label">
            <h1>Current Ads:</h1>
        </div>
        <div class="current-ads-container">
            {{#if has_current_ads}}
                <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                {{#each current_ads}}
                        <div class="medium-4 columns">
                        <div class="callout" data-equalizer-watch>
                            <p><strong>{{Description}}</strong></p>
                            <p>{{ZipCode}}</p>
                            <p>{{LocationRadius}}</p>
                            <ul>
                                {{#each instruments}}
                                    <li>{{Instrument}} - {{Level}}</li>
                                {{/each}}
                            </ul>
                        </div>
                {{/each}}
                </div>
            {{else}}
                <div class="current-ads-text">
                    <h2>You don't have any ads! <i class="far fa-sad-cry"></i></h2>
                    <p>Ads are the only way to connect with other musicians! Make sure you place an ad as soon as possible so you
                        can grow your network.</p>
                </div>
            {{/if}}
            <div class="current-ads-cta">
                <button class="button primary expanded large" data-toggle="modal-create-ad"><i class="fas fa-bullhorn"></i>Create An Ad!</button>
            </div>
        </div>
    </div>
    <div class="main-container main-previous-ads">
        <div class="previous-ads-label">
            <h1>Previous Ads:</h1>
        </div>
        <div class="previous-ads-container">
        {{#if has_prev_ads}}
            <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
            {{#each prev_ads}}
                <div class="medium-4 columns">
                    <div class="callout" data-equalizer-watch>
                        <p><strong>{{Description}}</strong></p>
                        <p>{{ZipCode}}</p>
                        <p>{{LocationRadius}}</p>
                        <ul>
                            {{#each instruments}}
                                <li>{{Instrument}} - {{Level}}</li>
                            {{/each}}
                        </ul>
                    </div>
            {{/each}}
            </div>
        {{else}}
            <div class="previous-ads-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
        {{/if}}
        </div>
    </div>
</main>
<div class="reveal" id="modal-create-ad" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">
    <h3>Let's Place An Ad!</h3>
    <p class="lead">Fill out the following info and we'll get your ad placed for you.</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <form>
        <table>
            <tr>
                <td>
                    <label for="ad-title">Title: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="ad-title" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="ad-text">Description: </label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="ad-text" cols="80" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="instruments">What you're looking for:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input placeholder="Select an Instrument" list="instrument-list" type="text" id="instruments" oninput="checkSelected()">
                    <datalist id="instrument-list">
                        {{#each instruments}}
                        <option data-value="{{InstrumentKey}}" value="{{Instrument}}">
                        {{/each}}
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="instrument-selection">

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="grid-x">
                        <div class="cell medium-7">
                            <button type="submit" class="button primary expanded large">Let's rock!</button>
                        </div>
                        <div class="cell medium-1"></div>
                        <div class="cell medium-4">
                            <button type="button" class="button alert expanded large" data-close>Never mind.</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

