<script src="/js/library.js"></script>
<script src="/js/matches.js"></script>
{{>nav}}
{{>alert}}

<!-- This is how info should probably come in to make our lives easier:

active: {
    matchKey: {
        ...data from Matches table,
        profile: {
            Photo,
            ArtistName
        }
    },
    ...
},
incoming: [{
   match data
},...],

outgoing: [{
    AdID,
    Title,
    DateInviteSent,
    matches: [{
        ... match data,
        instruments: [{
            Instrument,
            Level
        }, ...]
    }, ...]
}, ...]
-->


<main>
    <div class="main-container main-active-matches">
        <div class="active-matches-label">
            <h1>Connections:</h1>
        </div>
        <div class="active-matches-container">
            {{#if active}}
            <div id="active-matches">
                {{#each active}}
                <div id="match-{{@key}}"class="active-match">

                    <div class="active-match-image">
                        {{#if Photo}}
                            <img src="{{Photo}}">
                        {{else}}
                            <img src="/img/profile-img.jpg">
                        {{/if}}
                    </div>
                    <div class="active-match-info">
                        <h4>{{#if ArtistName}}{{ArtistName}}{{else}}No Name{{/if}}</h4> {{! Insert artist name here }}
                        <h5>Connected {{moment DateAccepted fromNow="true"}} ago</h5> {{! Insert connect date here }}
                    </div>
                    <div class="active-match-buttons">
                        {{#if (eq this.MatchedProfileID ../profile.ProfileKey)}}
                        {{else}}
                        <button class="button success expanded" onclick="window.location='user-profile?ProfileID={{this.MatchedProfileID}}'"><i class="far fa-eye"></i>View Profile</button> {{! Will only be displayed if ad-poster made the request to connect }}
                        {{/if}}
                        <button class="button active expanded" onclick="disconnectMatch({{@key}})"><i class="fas fa-microphone-alt-slash"></i>Disconnect</button> {{! Either user can disconnect the match }}
                        <button class="button warning expanded" onclick="blockMatch({{@key}})"><i class="fas fa-hand-middle-finger"></i>Block</button> {{! Either user can block the other }}
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div id="no-active-matches" class="active-matches-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="main-container main-incoming-matches">
        <div class="incoming-matches-label">
            <h1>Incoming:</h1>
        </div>
        <div class="incoming-matches-container">
            {{#if incoming}}
            <div id="incoming-matches">
                {{#each incoming}}
                <div id="incoming-match-{{@key}}" class="incoming-match">
                    <div class="incoming-match-alert">
                        <h5><strong>{{FirstName}} {{LastName}}</strong> has sent you a request to connect!</h5>
                    </div>
                    <div class="incoming-match-content">
                        <div class="incoming-match-image">
                            {{#if Photo}}
                                <img src="{{Photo}}">
                            {{else}}
                                <img src="/img/profile-img.jpg">
                            {{/if}}
                        </div>
                        <div class="incoming-match-info">
                            <h4>{{Title}}</h4>
                            <h5>Posted {{moment DatePosted format="MMMM Do, YYYY"}}</h5>
                            <p>{{Description}}</p>
                        </div>
                        <div class="incoming-match-instruments">
                            <h4>Instruments:</h4>
                            <ul>
                                {{#each instruments}}
                                    <li>
                                        {{Level}}-Level {{Instrument}}
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="incoming-match-buttons">
                            <button class="button success expanded" onclick="acceptMatch({{ProfileKey}}, {{@key}})" ><i class="fas fa-user-check"></i>Accept</button> {{! Will make match's Accepted flag = 1 }}
                            <button class="button warning expanded" onclick="rejectMatch({{Profilekey}}, {{@key}})"><i class="fas fa-not-equal"></i>Reject</button> {{! Will make match's Deleted flag = 1}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div id="no-incoming-matches" class="incoming-matches-text">
                <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="main-container main-outgoing-matches">
        <div class="outgoing-matches-label">
            <h1>Outgoing:</h1>
        </div>
        {{#if outgoing}}
        <div class="outgoing-matches-container">
            <div id="outgoing-matches">
                {{#each outgoing}}
                <div id="outgoing-match-{{@key}}" class="outgoing-match-ad-group">
                    <div class="outgoing-match-ad-group-info">
                        <h4>{{Title}}</h4>
                        <h5>Posted {{moment DatePosted format="MMMM Do, YYYY" }}</h5>
                    </div>
                    {{#each matches}}
                    <div class="outgoing-match-container">
                        <div class="outgoing-match-image">
                            {{#if Photo}}
                                <img src="{{Photo}}">
                            {{else}}
                                <img src="/img/profile-img.jpg">
                            {{/if}}
                        </div>
                        <div class="outgoing-match-info">
                            <h4>{{#if ArtistName}}{{ArtistName}}{{else}}No Name{{/if}}</h4>
                            <h6>Sent {{moment DateInviteSent fromNow="true" }} ago</h6>
                        </div>
                        <div class="outgoing-match-instruments">
                            <h4>Instruments</h4>
                            <ul>
                                {{#each instruments}}
                                    <li>
                                        {{Level}}-Level {{Instrument}}
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="outgoing-match-pending">
                            <button type="button" class="button light disabled expanded"><i class="fas fa-user-clock"></i>Pending...</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <div id="no-outgoing-matches" class="outgoing-matches-text" hidden>
            <h3>Nothing to see here. <i class="fas fa-wind"></i></h3>
        </div>
        {{/if}}
    </div>
</main>