<script src="/js/profile.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{{>nav}}
<main>
    <div class="main-container main-profile">

        {{#if message}}
        <p>{{message}}</p>
        {{/if}}

        <div class="profile-header">
            <div class="profile-edit-button"><button id="edit-header" class="button"><i class="fas fa-pencil-alt"></i></button></div>
            <div class="profile-header-intro">
                <img class="profile-header-image" src="/img/profile-img.jpg" />
                <div class="profile-header-title">
                    {{#if profile.ArtistName}}
                    <h1 id="profile-header-title-text">{{profile.ArtistName}}</h1>
                    <div id="edit-title-text" hidden>
                        <label for="edit-title-text-input">Display Name:</label>
                        <input type="text" id="edit-title-text-input" value="{{profile.ArtistName}}">
                    </div>
                    {{else}}
                    <h1 id="profile-header-title-text">{{user.FirstName}} {{user.LastName}}</h1>
                    <div id="edit-title-text" hidden>
                        <label for="edit-title-text-input">Display Name:</label>
                        <input type="text" id="edit-title-text-input" value="{{user.FirstName}} {{user.LastName}}">
                    </div>
                    {{/if}}
                    <h6 id="profile-header-title-loc"><i class="fas fa-map-marker-alt"></i>{{profile.ZipCode}}</h6>
                    <div id="edit-title-loc" hidden>
                        <label for="edit-title-loc-input">Zip Code:</label>
                        <input type="number" id="edit-title-loc-input" value="{{profile.ZipCode}}" min="00501" max="99950">
                    </div>
                    <h6>Joined {{moment profile.CreateDate format="MMMM Do, YYYY" }}</h6>
                    <!--                    <h6 id="profile-head-title-privacy">You are {{#if profile.LookingForWork}}{{else}}not {{/if}} currently looking for a spot in a band.</h6>-->
                    <input type="hidden" id="profile-head-title-privacy-value" value="{{profile.LookingForWork}}">
                    <div id="edit-title-privacy-switch" class="switch" hidden>
                        <span>Are you currently looking for a spot in a band?</span><br>
                        <span id="switch-privacy-tooltip"
                              data-tooltip class="top"
                              tabindex="2"
                              title="Switching this {{#if (eq profile.LookingForWork 1)}}off{{else}}on{{/if}} will set your profile to {{#if (eq profile.LookingForWork 1)}}private{{else}}public{{/if}} so it will {{#if (eq profile.LookingForWork 1)}}no longer {{/if}}be viewable by other users."
                              data-position="bottom"
                              data-alignment="left">
                            <input class="switch-input" id="privacySwitch" type="checkbox" name="privacySwitch" {{#if (eq profile.LookingForWork 1)}} checked="true" {{/if}}>
                            <label class="switch-paddle" for="privacySwitch">
                                <h6 class="show-for-sr">Are you currently looking for a spot in a band?</h6>
                            </label>
                        </span>
                        <script type="text/javascript">
                            let ps = document.getElementById('privacySwitch');
                            ps.addEventListener('click', () => {
                                if (ps.getAttribute('checked') === 'true') {
                                    ps.setAttribute('checked', 'false');
                                    document.getElementById('profile-head-title-privacy-private').classList.remove('hidden');
                                    document.getElementById('profile-head-title-privacy-public').classList.add('hidden');
                                } else {
                                    ps.setAttribute('checked', 'true');
                                    document.getElementById('profile-head-title-privacy-private').classList.add('hidden');
                                    document.getElementById('profile-head-title-privacy-public').classList.remove('hidden');
                                }

                                // I hate foundation for making me do this hacky bs to reflow a damn tooltip title. This will probably break with some future foundation release.
                                let $el = $('#switch-privacy-tooltip');
                                $el.attr('title', `Switching this ${ps.checked ? 'off' : 'on'} will set your profile to ${ps.checked ? 'private' : 'public'} so it will ${ps.checked ? 'no longer ' : ''}be viewable by other users.`);
                                $el.data().zfPlugin.template.text($el.attr('title'));

                                // If you don't remove the title from the HTML element, then it displays two tooltip hovers because why not.
                                document.getElementById('switch-privacy-tooltip').setAttribute('title', '');
                            });

                                                    // let ps = document.getElementById('privacySwitch');
                                                    // ps.addEventListener('click', () => {
                                                    //     console.log('privacySwitch clicked! checked ? ', ps.getAttribute('checked'));
                                                    //     ps.setAttribute('checked', ps.getAttribute('checked') ? false : true);
                                                    //     console.log('tooltip-on: ', document.getElementById('switch-privacy-tooltip-on'));
                                                    //     console.log('tooltip-off: ', document.getElementById('switch-privacy-tooltip-off'));
                                                    //     document.getElementById('switch-privacy-tooltip-on').hidden = ps.getAttribute('checked') ? false : true;
                                                    //     document.getElementById('switch-privacy-tooltip-off').hidden = ps.getAttribute('checked') ? true : false;
                                                    // });
                        </script>
                    </div>
                </div>
                <div class="profile-header-status">
                    <div id="profile-head-title-privacy"></div>
                    <div id="profile-head-title-privacy-private" class="profile-head-title-privacy {{#if (eq profile.LookingForWork 1)}}hidden{{/if}}">Profile: <strong>Private<i class="fas fa-lock"></i></strong></div>
                    <div id="profile-head-title-privacy-public" class="profile-head-title-privacy {{#if (eq profile.LookingForWork 0)}}hidden{{/if}}">Profile: <strong>Public<i class="fas fa-lock-open"></i></strong></div>
                </div>
            </div>
        </div>
        <div class="profile-info grid-x">
            <div class="cell medium-8 profile-about">
                <div class="profile-edit-button"><button id="edit-about" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                <h2>About Me:</h2>
                <div id="profile-about-text">{{profile.Bio}}</div>
                <div id="edit-about-text" hidden>
                    <textarea id="edit-about-text-input" cols="80" rows="10">{{profile.Bio}}</textarea>
                </div>
            </div>
            <div class="cell medium-4 profile-meta">
                <div class="profile-instruments">
                    <div class="profile-edit-button"><button id="edit-instruments" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                    <h2>What I Play:</h2>
                    <ul id="instrument-list">
                        {{#each profileInstruments}}
                        <li><span class='inst-list-inst' data-val='{{InstrumentKey}}'>{{Instrument}}</span> <span class='inst-list-level' data-val='{{LevelKey}}'>({{Level}})</span></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="profile-social">
                    <div class="profile-edit-button"><button id="edit-social" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                    <h2>Social:</h2>
                    {{#if profile.Website}}
                    <a id="profile-social-website" href="{{profile.Website}}" target="_blank"><i class="fas fa-globe"></i>Website</a>
                    <label for="edit-website-text">Website: </label>
                    <input type="text" id="edit-website-text" value="{{profile.Website}}" />
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="profile-media grid-x">
            <div class="cell medium-6">
                <div class="profile-edit-button"><button id="edit-video" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                <h2>Videos:</h2>
                {{#if workSamples}}
                {{#each workSamples}}
                {{#if (eq SampleType "Video")}}
                <div class="responsive-embed widescreen">
                    <iframe id="video-{{SampleKey}}" width="560" height="315" src="{{SampleLocation}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {{/if}}
                {{/each}}
                {{else}}
                [Coming Soon - Profile Videos!]
                {{/if}}
            </div>
            <div class="cell medium-6">
                <div class="profile-edit-button"><button id="edit-music" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                <h2>Music:</h2>
                {{#if workSamples}}
                {{#each workSamples}}
                {{#if (eq SampleType "Music")}}
                <iframe id="music-{{SampleKey}}" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{SampleLocation}}"></iframe>
                {{/if}}
                {{/each}}
                {{else}}
                [Coming Soon - Profile Music!]
                {{/if}}
            </div>
        </div>
    </div>
</main>

<div class="reveal" id="modal-edit-instruments" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">
    <h3>Edit Instruments</h3>
    <p class="lead"></p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <table>
        <tr>
            <td>
                <select id="instrument-list-edit" style="width: 100%" required>
                    <option></option>
                    {{#each instruments}}
                    <option value="{{this.InstrumentKey}}">{{this.Instrument}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="level-list-main-edit" class="selection-level" style="display: none" required>
                    {{#each levels}}
                    <option value="{{this.LevelKey}}">{{this.Level}}</option>
                    {{/each}}
                </select>
                <div id="instrument-selection-edit">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="error-msg-edit" style="color: red;"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="grid-x">
                    <div class="cell medium-4">
                        <button type="button" class="button alert expanded large" data-close>Cancel</button>
                    </div>
                    <div class="cell medium-1"></div>
                    <div class="cell medium-7">
                        <button id="instrument-section-edit-btn" data-id="{{profile.ProfileKey}}" class="button primary expanded large">Done</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
