{{>nav}}
<main>
    <div class="main-container">
{{#if message}}
    <p>{{message}}</p>
{{/if}}
<div class="card-profile-stats">
    <div class="card-profile-stats-intro">
        <img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="profile-image" />
        <div class="card-profile-stats-intro-content">
            <h3>{{user.FirstName}} {{user.LastName}}</h3>
            <p>Joined {{user.CreateDate}}</small></p>
        </div> <!-- /.card-profile-stats-intro-content -->
    </div> <!-- /.card-profile-stats-intro -->
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    {{#each profile}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
    {{/each}}
</table>
<table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                    </tr>
                    {{#each instruments}}
                        <tr>
                            <td>{{InstrumentKey}} - {{Instrument}}</td>
                            <td>{{LevelKey}} - {{Level}}</td>
                        </tr>
                    {{/each}}
                </table>
            </td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th>Location</th>
                    </tr>
                    {{#each workSamples}}
                        <tr>
                            <td>{{SampleKey}} - {{SampleLocation}}</td>
                        </tr>
                    {{/each}}
                </table>
            </td>
        </tr>
</table>
<form method="post" action="/profile/basic">
    <input type="hidden" name="ProfileKey" value="{{profile.ProfileKey}}">
    <label for="zipCode">Zip Code: <input type="text" name="zipCode" value="{{profile.ZipCode}}"></label>
    <label for="phoneNumber">Phone Number: <input type="text" name="phoneNumber" value="{{profile.Phone}}"></label>
    <label for="webAddress">Website: <input type="text" name="webAddress" value="{{profile.Website}}"></label>
    <label for="lookingForWork">Private: <input type="radio" id="private" name="lookingForWork" value="0" {{#if profile.LookingForWork}}{{else}}checked{{/if}}></label>
    <label for="lookingForWork">Public: <input type="radio" id="public" name="lookingForWork" value="1" {{#if profile.LookingForWork}}checked{{/if}}></label>
</form>
<form method="post" action="/profile/instrument/add">
    <label for="instrumentId">Instrument: <select name="instrumentId" id="instrumentId">
    </select></label>
    <label for="levelId">Level: <select name="levelId" id="levelId">
    </select></label>
</form>
<form method="post" action="/profile/instrument/update">

</form>
    </div>
</main>

<script lang="js">
    let sent1 = false;
    let sent2 = false;
    window.onload = function () {
        if(!sent1) {
            let request = new XMLHttpRequest();
            request.open('GET', '/profile/instruments');
            request.responseType = 'json';

            request.onload = function () {
                let array = request.response;
                let select = document.getElementById("instrumentId");
                for (let instrument of array) {
                    let option = new Option(instrument.Instrument, instrument.InstrumentKey);
                    select.appendChild(option);
                }
            };
            request.send();
            console.log("sending req 1");
            sent1 = true;
        }

        if(!sent2) {
            let request2 = new XMLHttpRequest();
            request2.open('GET', '/profile/levels');
            request2.responseType = 'json';

            request2.onload = function () {
                let array2 = request2.response;
                let select2 = document.getElementById("levelId");
                for (let level of array2) {
                    let option2 = new Option(level.Level, level.LevelKey);
                    select2.appendChild(option2);
                }
            };
            request2.send();
            console.log("sending req 2");
            sent2 = true;
        }
    }
</script>