<script src="/js/profile.js"></script>
{{>nav}}
<main>
    <div class="main-container main-profile">

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}

        <div class="profile-header">
            <div class="profile-edit-button"><button id="edit-header" class="button"><i class="fas fa-pencil-alt"></i></button></div>
            <div class="profile-header-intro">
                <img class="profile-header-image" src="/img/profile-img.jpg" />
                <div class="profile-header-title">
                    {{#if profile.ArtistName}}
                        <h1 id="profile-header-title-text">{{profile.ArtistName}}</h1>
                        <div id="edit-title-text" hidden>
                            <label for="edit-title-text-input">Display Name:</label>
                            <input type="text" id="edit-title-text-input" value="{{profile.ArtistName}}">
                        </div>
                    {{else}}
                        <h1 id="profile-header-title-text">{{user.FirstName}} {{user.LastName}}</h1>
                        <div id="edit-title-text" hidden>
                            <label for="edit-title-text-input">Display Name:</label>
                            <input type="text" id="edit-title-text-input" value="{{user.FirstName}} {{user.LastName}}">
                        </div>
                    {{/if}}
                    <h6 id="profile-header-title-loc">{{profile.ZipCode}}</h6>
                    <div id="edit-title-loc" hidden>
                        <label for="edit-title-loc-input">Zip Code:</label>
                        <input type="number" id="edit-title-loc-input" value="{{profile.ZipCode}}" min="00501" max="99950">
                    </div>
                    <h6>Joined {{moment profile.CreateDate format="MMMM Do, YYYY" }}</h6>
                </div>
            </div>
        </div>
        <div class="profile-info grid-x">
            <div class="cell medium-8 profile-about">
                <div class="profile-edit-button"><button id="edit-about" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                <h2>About Me:</h2>
                <div id="profile-about-text">{{profile.Bio}}</div>
                <div id="edit-about-text" hidden>
                    <textarea id="edit-about-text-input" cols="80" rows="10">{{profile.Bio}}</textarea>
                </div>
            </div>
            <div class="cell medium-4 profile-meta">
                <div class="profile-instruments">
                    <div class="profile-edit-button"><button id="edit-instruments" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                    <h2>What I Play:</h2>
                    <ul>
                        {{#each instruments}}
                            <li>{{Instrument}} ({{Level}})</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="profile-social">
                    <div class="profile-edit-button"><button id="edit-social" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                    <h2>Social:</h2>
                    {{#if profile.Website}}
                        <a id="profile-social-website" href="{{profile.Website}}" target="_blank"><i class="fas fa-globe"></i>Website</a>
                        <label for="edit-website-text">Website: </label>
                        <input type="text" id="edit-website-text" value="{{profile.Website}}" />
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="profile-media grid-x">
            <div class="cell medium-6">
                <div class="profile-edit-button"><button id="edit-video" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                <h2>Videos:</h2>
                    [Coming Soon - Profile Videos!]
            </div>
            <div class="cell medium-6">
                <div class="profile-edit-button"><button id="edit-music" class="button"><i class="fas fa-pencil-alt"></i></button></div>
                <h2>Music:</h2>
                {{#if workSamples}}
                    {{#each workSamples}}
                        <iframe id="music-{{SampleKey}}" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{SampleLocation}}"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/milklab" title="milklab" target="_blank" style="color: #cccccc; text-decoration: none;">milklab</a> · <a href="https://soundcloud.com/milklab/nate-kimball-orchestra-namaste" title="Nate Kimball Orchestra - Namaste" target="_blank" style="color: #cccccc; text-decoration: none;">Nate Kimball Orchestra - Namaste</a></div>
                    {{/each}}
                {{else}}
                    [Coming Soon - Profile Music!]
                {{/if}}
            </div>
        </div>
    </div>
</main>


<!--<table>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Value</th>-->
<!--    </tr>-->
<!--    {{#each profile}}-->
<!--        <tr>-->
<!--            <td>{{@key}}</td>-->
<!--            <td>{{this}}</td>-->
<!--        </tr>-->
<!--    {{/each}}-->
<!--</table>-->
<!--<table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <th>Name</th>-->
<!--                        <th>Level</th>-->
<!--                    </tr>-->
<!--                    {{#each instruments}}-->
<!--                        <tr>-->
<!--                            <td>{{InstrumentKey}} - {{Instrument}}</td>-->
<!--                            <td>{{LevelKey}} - {{Level}}</td>-->
<!--                        </tr>-->
<!--                    {{/each}}-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--</table>-->
<!--<table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <th>Location</th>-->
<!--                    </tr>-->
<!--                    {{#each workSamples}}-->
<!--                        <tr>-->
<!--                            <td>{{SampleKey}} - {{SampleLocation}}</td>-->
<!--                        </tr>-->
<!--                    {{/each}}-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--</table>-->
<!--<form method="post" action="/profile/basic">-->
<!--    <input type="hidden" name="ProfileKey" value="{{profile.ProfileKey}}">-->
<!--    <label for="zipCode">Zip Code: <input type="text" name="zipCode" value="{{profile.ZipCode}}"></label>-->
<!--    <label for="phoneNumber">Phone Number: <input type="text" name="phoneNumber" value="{{profile.Phone}}"></label>-->
<!--    <label for="webAddress">Website: <input type="text" name="webAddress" value="{{profile.Website}}"></label>-->
<!--    <label for="lookingForWork">Private: <input type="radio" id="private" name="lookingForWork" value="0" {{#if profile.LookingForWork}}{{else}}checked{{/if}}></label>-->
<!--    <label for="lookingForWork">Public: <input type="radio" id="public" name="lookingForWork" value="1" {{#if profile.LookingForWork}}checked{{/if}}></label>-->
<!--    <button type="submit" class="button primary">Submit</button>-->
<!--</form>-->
<!--<form method="post" action="/profile/instrument/add">-->
<!--    <label for="instrumentId">Instrument: <select name="instrumentId" id="instrumentId">-->
<!--    </select></label>-->
<!--    <label for="levelId">Level: <select name="levelId" id="levelId">-->
<!--    </select></label>-->
<!--    <button type="submit" class="button primary">Submit</button>-->
<!--</form>-->
<!--<form method="post" action="/profile/instrument/update">-->

<!--</form>-->
<!--    </div>-->
<!--</main>-->

<!--<script lang="js">-->
<!--    let sent1 = false;-->
<!--    let sent2 = false;-->
<!--    window.onload = function () {-->
<!--        if(!sent1) {-->
<!--            let request = new XMLHttpRequest();-->
<!--            request.open('GET', '/profile/instruments');-->
<!--            request.responseType = 'json';-->

<!--            request.onload = function () {-->
<!--                let array = request.response;-->
<!--                let select = document.getElementById("instrumentId");-->
<!--                for (let instrument of array) {-->
<!--                    let option = new Option(instrument.Instrument, instrument.InstrumentKey);-->
<!--                    select.appendChild(option);-->
<!--                }-->
<!--            };-->
<!--            request.send();-->
<!--            console.log("sending req 1");-->
<!--            sent1 = true;-->
<!--        }-->

<!--        if(!sent2) {-->
<!--            let request2 = new XMLHttpRequest();-->
<!--            request2.open('GET', '/profile/levels');-->
<!--            request2.responseType = 'json';-->

<!--            request2.onload = function () {-->
<!--                let array2 = request2.response;-->
<!--                let select2 = document.getElementById("levelId");-->
<!--                for (let level of array2) {-->
<!--                    let option2 = new Option(level.Level, level.LevelKey);-->
<!--                    select2.appendChild(option2);-->
<!--                }-->
<!--            };-->
<!--            request2.send();-->
<!--            console.log("sending req 2");-->
<!--            sent2 = true;-->
<!--        }-->
<!--    }-->
<!--</script>-->